<html>

<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='rcm.js')}}"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/rcm.css') }}">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet"> 
</head>

<body>

<div class = "container">
<h1>Release Component Management</h1>
</div>
<div class="container">
<div class="jumbotron">

    <form class="new-search-form" action="testpage" method="POST">
    <select name="projects" id="projects" class="selectpicker form-control">

    <option selected="selected"> Select Project </option>

    {% for project in projects %}
      <option value={{ project[0].replace(' ', '+') }} > {{ project[0] }} </option>
      {% endfor %}

    </select>
    <select name="releases" id="releases" class="selectpicker form-control" disabled>
    <option>Select Release </option>
    </select>
    <br> </br>
    <button type="submit" class= "btn btn-outline-primary" formaction="/"> View </button>
    </form>
  </div>
  </div>
 <a href = "url_for{{'get_help'}}" id = "helpButton"> Help </a>
 <div class = "container" id = "diffs" style = "display: none;">
  <div class = "jumbotron" id = "innerholder"> 
  <input type = "text" placeholder = "Find..." class = "text-input" id = "filterTree" value = "" />
  <div id = "compare2builds">
	<ul> 
	</ul>
  </div>
      <button type = "button" id="postApp" onclick = "hideJumbo()" class = "btn btn-outline-primary"> Hide </button>
      <button type = "button" id = "collapseExpand" class = "btn btn-outline-secondary" onclick= "collapseExpandTree()"> Collapse/Expand </button>
  </div>
  </div>
  <div class = "container">
  <table class="table">
  <thead class = "thead-inverse">
    <tr>
      <th id = "comparison" onclick = "showbuilds(function() { displayTree(function() { showBlock(); });});" style = "color: #428bca;">Compare</th>
      <th id = "build">Build Name</th>
      <th id = "state">Build State</th>
      <th>Build Path</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    {% for build in newBuilds %}
        <th>  <input type="checkbox" name="compare" class = "compare" value={{build[0]}} id={{build[0]}} style = "text-align: center;"> </th>
        <th> <a href= "{{url_for('details', build=build[0])}}"> {{build[0]}} </a></th>
        <td> {{build[2]}} </td>
        <td> {{build[1]}} </td>
        <td> <button type="button" class="btn btn-link" name = "details" data-toggle="collapse" data-target=.{{build[0].replace('.', '_').replace('.','_')}} value = '{{build[0].replace('.', '_').replace('.','_')}}' onclick = "clickedDetails('{{build[0].replace('.', '_').replace('.','_')}}')"> PR Details </button></td>
		 <tr class = "collapse out thisone {{build[0]. replace('.', '_').replace('.','_')}}"></tr>
     {% endfor %}
    </tbody>
</table>
</div>
<script>
  var alreadyCalled = [];
  var dropdown = {
        project: $('#projects'),
        release: $('#releases')
  }
  function updateReleases() {
        var project = dropdown.project.val();
        console.log(project);
        if (project.length) { 
          dropdown.release.empty();
          dropdown.release.append(
          $('<option>', {
            value: '', 
            text: 'Select Release'
          }));
          $.getJSON("{{url_for('routeRelease')}}", {project: project}, function(data) {
              data.forEach(function(item) { 
                dropdown.release.append(
                  $('<option>', {
                      value: item.id, 
                      text: item.name
                  })
                );
              });
              dropdown.release.removeAttr('disabled');
          });
      }
}
dropdown.project.on('change', function() {
  updateReleases();
});
function clickedDetails(button) {
  if (!(button in alreadyCalled)) {
    var detailsButton = button.replace('_', '.').replace('_','.');
    console.log(detailsButton);
    $.getJSON("{{url_for('routePR')}}", {detailsButton: detailsButton}, function(data) {
      console.log(data.length)
      var html;
      var html2;
      if (data[0]) { 
        html += "<th class = 'info'> PR Number </th><th class = 'info'>Responsible </th><th class = 'info'> State </th><th class = 'info'> Synopsis </th><th class = 'info'></th>"
        $(".thisone" + "." + button).append(html);
        for (var i = 0; i < data.length; i++) {
          html2 += '<tr class = "thisone ' + button + '"><td class = "info"><a href ="https://gnats.juniper.net/web/default/' + 
          data[i].pr_number + '"> ' + data[i].pr_number + 
          "</a></td><td class = 'info'>" + data[i].responsible +"</td><td class = 'info'>" + data[i].pr_state + "</td><td class = 'info'>" + data[i].synopsis + "</td><td class = 'info'></td></tr>";
          $(".thisone" + "." + button).last().after(html2);
          $("."+ button).addClass("collapse in");
          html2 = '';
        }
        //$(".thisone" + "." + button).append("</div>");
      }
      });
      alreadyCalled[button] = 1;
    } else {
        return;
    }
}

  function hideJumbo() { 
    document.getElementById("diffs").style.display = "None";
  }
  var notTheFirst = false;

  function showbuilds(callback) {
    var html = '<li id = "builds"> <b> Comparing Builds: </b>';
    var twoBuilds = '';
    var counter = 0;
    $(':checkbox:checked').each(function(i){
      html += $(this).val() + " ";
      twoBuilds += $(this).val() + " ";
            console.log($(this).val());
      counter++;
      var html2 = '';
      var revisions = '';
      var htmlremoved = '';
      var htmlunchanged = '';
    if (counter == 2) {
      if (notTheFirst == true) {
      console.log('sup');
      $('#compare2builds').jstree(true).destroy();
      }
    console.log("counter:" + counter); 
    $.getJSON("{{url_for('cmComparison')}}", {twoBuilds: twoBuilds}, function(data) {
    $("#compare2builds").append("<ul>" + html + "</ul>");
    console.log("Comparing", $("#compare2builds ul"));
    $('<ul id = "groups" />').appendTo('#compare2builds #builds');
    $("#compare2builds #builds #groups").append("<li id = 'added'> Added </li>");
    $('<ul id = "ulAdded" />').appendTo('#compare2builds #builds #groups #added');
    var looprepos = 0;
    var end = (data.data[0].length + data.data[1].length + data.data[2].length) - 1;
    console.log("end" + end);
    for(var i = 0; i < data.data[0].length; i++) {
      var counter = 0;
      console.log(data.data[0].length);
      var components = '';
      var endCounter = data.data[0][i].repo_components.length 
      for (var z = 0; z < data.data[0][i].repo_components.length; z++) {
        components += "<li class = 'component_green'><b>" +data.data[0][i].repo_components[z].component_name + "</b>: " + data.data[0][i].repo_components[z].component_revision + "</li>"
        counter++;
        }
      var attributes = "";
      if (counter == endCounter) {
          if (data.data[0][i].repo_attributes != "") {
            attributes = "<li>" + data.data[0][i].repo_attributes + "</li>";
          }
          html2 += "<li class = 'green'><b>" + data.data[0][i].repo_name + "</b>: " +  data.data[0][i].repo_revision + "<ul>" + attributes + components + "</ul></li>"
          $("#compare2builds #builds #groups #added #ulAdded").append(html2)
      }
      html2 = '';
      looprepos++;
    }
    $("#compare2builds #builds #groups").append("<li id = 'removed'> Removed </li>");
    $('<ul id = "ulRemoved" />').appendTo('#compare2builds #builds #groups #removed');
    console.log("Removed" + data.data[1].length);
    for (var i = 0; i < data.data[1].length; i++) {
      console.log("Removed" + data.data[1].length);
      var counter = 0;
      var components = '';
      var endCounter = data.data[0][i].repo_components.length 
      for (var z = 0; z < data.data[1][i].repo_components.length; z++) {
        components += "<li class = 'component_red'><b>" +data.data[1][i].repo_components[z].component_name + "</b>: " + data.data[0][i].repo_components[z].component_revision + "</li>"
        counter++;
        }
      var attributes = "";
      if (counter == endCounter) {
        if (data.data[1][i].repo_attributes != "") {
            attributes = "<li>" + data.data[1][i].repo_attributes + "</li>";
        }
        htmlremoved += "<li class = 'red'><b>" + data.data[1][i].repo_name + "</b>: " + data.data[1][i].repo_revision  + "<ul>" + attributes + components + "</ul></li>";
        $("#compare2builds #builds #groups #removed #ulRemoved").append(htmlremoved);
      }
      htmlremoved = '';
      looprepos++;
    }
    $("#compare2builds #builds #groups").append("<li id = 'modified'> Modified </li>");
    $('<ul id = "ulModified" />').appendTo('#compare2builds #builds #groups #modified');
    for (var i = 0; i < data.data[2].length; i++) {
       var counter = 0;
      console.log(data.data[0].length);
      var components = '';
      var endCounter = data.data[2][i].repo_components[0].length + data.data[2][i].repo_components[1].length + data.data[2][i].repo_components[2].length
      console.log("end" + endCounter);
      console.log("this" +data.data[2][i].repo_components[0].length);
        for (var z = 0; z < data.data[2][i].repo_components[0].length; z++) {
        components += "<li class = 'component_green'><b>" +data.data[2][i].repo_components[0][z].component_name + "</b>: " + data.data[2][i].repo_components[0][z].component_revision + "</li>";
          counter++;
        }
        for (var z = 0; z < data.data[2][i].repo_components[1].length; z++) {
          components += "<li class = 'red'><b>" +data.data[2][i].repo_components[1][z].component_name + "</b>: " + data.data[2][i].repo_components[1][z].component_revision + "</li>";
          counter++;
        }
        for (var z = 0; z < data.data[2][i].repo_components[2].length; z++) {
          components += "<li class = 'component_blue'><b>" +data.data[2][i].repo_components[2][z].component_name + "</b>: " + data.data[2][i].repo_components[2][z].component_revision_old + "-->" + data.data[2][i].repo_components[2][z].component_revision_new + "</li>";
          counter++;
        }
        console.log("counter" + counter);
        console.log("encCounter" + endCounter);
        if (counter == endCounter) {
          console.log(counter);
          console.log(endCounter);
          var attributes = "";
          if (data.data[2][i].repo_attributes != "") {
            attributes = "<li>" + data.data[2][i].repo_attributes + "</li>";
          }
          htmlunchanged += "<li class = 'blue'><b>" + data.data[2][i].repo_name + "</b>: " + data.data[2][i].repo_revision1 + " --> " + data.data[2][i].repo_revision2 + "<ul>" + attributes + components + "</ul></li>"
        $("#compare2builds #builds #groups #modified #ulModified").append(htmlunchanged);
      }
      htmlunchanged = '';
      looprepos++;
    }
    notTheFirst = true;
    callback && callback();
    });
  }
  });
}
$(document).on('load', function() {
      $('.collapse').on('show.bs.collapse', function () {
        $('.collapse.in').collapse('hide');
      });
});
  
$(document).on('load', function() {
   $("input[name='compare']").change(function () {
      var maxAllowed = 2;
      var cnt = $("input[name='compare']:checked").length;
      if ((cnt > maxAllowed)) 
      {
         $(this).prop("checked", "");
         alert('Select ' + maxAllowed + ' Builds!');
      }
      });
});
function displayTree(callback) {
  $('#compare2builds').jstree( {
                  "plugins": ["search"],
                  "search": {"show_only_matches": true, "show_only_matches_children": true},
                  "core": {
                    "check_callback": true,
                    "themes":{
                    "icons":false
                  }
                }
  });
  callback && callback();
}

function showBlock() {
    document.getElementById("diffs").style.display = "block";
}
$(document).ready(function() {
   var to = false;
  $("#filterTree").keyup(function() {
    if (to) {
      clearTimeout(to);
    }
    to = setTimeout(function() {
    var v = $("#filterTree").val();
    $("#compare2builds").jstree(true).search(v); }, 250);
    });
})
var counter = 0;
function collapseExpandTree() {
  if (counter % 2 == 0) {
    $('#compare2builds').jstree("open_all");
  } else {
    $('#compare2builds').jstree("close_all");
  }
  counter++;
}
/*$(document).ready(function() {
  $("#filterTree").keyup(function() {
    $('#compare2builds'.jstree("open_all"))
    var filter = $(this).val()
    console.log(filter);
    $("#compare2builds #builds ul #added ul li").each(function() {
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
        $(this).fadeOut();
      } else {
        $(this).show();
      }
    });
    $("#compare2builds #builds ul #removed ul li").each(function() {
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
        $(this).fadeOut();
      } else {
        $(this).show();
      }
    });
    $("#compare2builds #builds ul #removed  li").each(function() {
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
        $(this).fadeOut();
      } else {
        $(this).show();
      }
    });
    $("#compare2builds #builds ul #modified ul li ul").each(function() {
      if ($(this).text().search(new RegExp(filter, "i")) < 0) {
        $(this).fadeOut();
      } else {
        $(this).show();
      }
    });
  });
});*/

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
</body>
</html>
